.masthead {
  opacity: 1;

  .content--wrap {
  }

  .content {
    background: transparent;

    width: 80%;
    @media (min-width: 400px) { width: 80%; }
    @media (min-width: 550px) { width: 50%; }
    max-width: 470px;
  }

  .content h1 {
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 1.5rem;
    background-color: rgba(99, 99, 99, 0.7);
    border-bottom: 3px solid getColor(red);
  }
}
