.nav--wrap {
  position: absolute;
  bottom: 10%;
  left: 0%;
  width: 100%;
  text-align: center;
  color: #000;
  background-color: RGBA(75, 95, 132, 0.8);
}

.nav {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-around;
}

.nav-links > li {
  padding: 0;
  margin: 0;
  margin: auto;
}

.nav-links > li > a {
  text-decoration: none;
  text-transform: uppercase;

  font-size: 0.8em;
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;

  @media (min-width: 400px) {
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &:link, &:visited {
    color: #FFFFFF;
  }
  &:hover {
    // color: yellow;
    background-color: getColor(red);
  }
}
