.register {
  // opacity: 1;

  // .content--wrap {
  //   top: 5%;

  //   @media (min-width: 550px) {
  //     top: 10%;
  //   }
  // }

  .content {
    width: 80%;
    font-size: 0.9rem;
    line-height: 1.4rem;
    max-height: $maxHeight;
    overflow: auto;

    @media (min-width: 400px) {
      width: 80%;
      font-size: 1rem;
      max-height: 90%;
    }

    max-width: 800px;
  }

  .content h2,
  .content h3 {
    text-align: left;
  }

  .content p, .content ul {
    text-align: left;
  }
}
