.about {
  // opacity: 1;

  .content--wrap {
    top: 5%;

    @media (min-width: 550px) {
      top: 10%;
    }
  }

  .content {
    width: 80%;
    font-size: 0.9rem;
    line-height: 1.4rem;
    max-height: $maxHeight;
    overflow: auto;

    @media (min-width: 400px) {
      width: 90%;
      font-size: 1rem;
      max-height: auto;
    }

    @media (min-width: 1000px) {
      // font-size: 1.2rem;
      line-height: 1.6rem;
      max-height: 700px;
      height: 700px;
    }

    max-width: 1200px;
  }

  .content p,
  .content ul,
  .content h3 {
    text-align: left;
  }
}
