.agenda {
  // opacity: 1;

  .content--wrap {
    top: 5%;

    @media (min-width: 550px) {
      top: 10%;
    }
  }

  .content {
    width: 80%;
    font-size: 0.9rem;
    line-height: 1.4rem;
    max-height: $maxHeight;
    overflow: auto;

    @media (min-width: 400px) {
      width: 90%;
      font-size: 1rem;
      max-height: auto;
    }

    @media (min-width: 1000px) {
      // font-size: 1.2rem;
      line-height: 1.6rem;
      max-height: 700px;
      height: 700px;
    }

    max-width: 1200px;
  }

  .content table {
    text-align: left;
    width: 100%;
  }

  .content td {
    width: auto;
    min-width: 110px;
    padding: 0.5rem;
  }

  .content thead td {
    text-align: center;
    border-bottom: 1px solid #000;
  }

  .content tbody td {
    vertical-align: center;
  }

  .table-one {
    tr:nth-child(odd) {
      background-color: #EEE;
    }

    tr:nth-child(even) {
      background-color: #CCC;
    }
  }

  .table-two {
    tr:nth-child(odd) {
      background-color: #FFFDD9;
    }

    tr:nth-child(even) {
      background-color: #D9BD7B;
    }
  }

  .table-three {
    tr:nth-child(odd) {
      background-color: #E4EFFE;
    }

    tr:nth-child(even) {
      background-color: #D9E2F2;
    }
  }
}
